* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5e4b8b; 
}

.calculator {
    background-color: #333333; 
    padding: 20px;
    width: 300px;
    border: 3px solid #000000;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.display {
    margin-bottom: 20px;
    text-align: right;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    background-color: #d3d3d3; 
    border: 3px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b8b8b8; 
}

button:active {
    background-color: #999999;
}

button.clear {
    background-color: #f44336;
}

.history {
    margin-top: 20px;
    margin-left: 150px;
    height: 420px;
    width: 250px;
    background-color: #2d1b53; 
    border-radius: 5px;
    border: 3px solid #000000;
    text-align: center;
    position: relative;
}

#historyList {
    list-style-type: none;
    padding: 0;
}

#historyList li {
    background-color: #9e75cc; 
    padding: 8px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

#historyList li button {
    background-color: #d0b2f2; 
    border: none;
    cursor: pointer;
}

#historyList li button:hover {
    background-color: #e2d3f9;
}

h3{
    color: #f4f4f4;
}


/* .history button{
    position: absolute;
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: #d0b2f2;

} */

#but{
    position: absolute;
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: #d0b2f2;
}